#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
}
.board {
  display: grid;
  justify-content: center;
  background-color: lightgrey;
  border: 0.5px solid black;
  padding: 30%;
  width: 100px;
}

@media screen and (max-width: 500px) {
  #gameboard {
    width: 100%;
  }
}
